.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  width: 100%;
  border-radius: 2px;
  background: #fdfffd;
  box-shadow: 0px 4px 20px 0px rgba(82, 81, 81, 0.08);
  .button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
.form__wrap {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 20px;
  .input {
    width: calc(50% - 15px);
    @include smMax {
      width: 100%;
    }
    &.full-width {
      width: 100%;
    }
  }
}
