header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--primary-light);
}
.nav-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 15px 12px 15px;
  column-gap: 80px;
  row-gap: 12px;
  background-color: var(--primary-dark);
  @include lgMax {
    column-gap: 40px;
  }
  @include smMax {
    column-gap: 20px;
  }
  li {
    @include link-wrap-style;
  }
}
.nav-wrap {
  box-shadow: 0px 4px 20px 0px #0000000d;
  @include xlMax {
    .container {
      padding: 0;
    }
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
  @include xlMax {
    flex-wrap: nowrap;
    justify-content: flex-start;
    column-gap: 15px;
    row-gap: 0;
    &.show {
      .logo {
        opacity: 0;
        visibility: hidden;
      }
      .burger {
        span {
          transition:
            opacity 0.25s,
            translate 0.25s linear,
            rotate 0.25s linear 0.25s;
          &:first-child {
            translate: 0% 450%;
            rotate: 45deg;
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:last-child {
            translate: 0% -450%;
            rotate: -45deg;
          }
        }
      }
      .menu {
        overflow-y: auto;
        overflow-x: hidden;
        height: calc(100dvh - var(--navHeight) - 60px);
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
  }
  .burger {
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    min-width: 60px;
    width: 60px;
    height: 60px;
    border: none;
    display: none;
    background: rgba(128, 128, 128, 0.101);
    z-index: 5;
    cursor: pointer;
    span {
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: #3c3c3c;
      translate: 0% 0%;
      rotate: 0deg;
      transition:
        opacity 0.25s linear 0.25s,
        translate 0.25s linear 0.25s,
        rotate 0.25s linear;
    }
    @include xlMax {
      display: flex;
    }
  }
  .menu {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-light);
    background-color: rgb(206 206 206);
    @include xlMax {
      position: absolute;
      top: 100%;
      gap: 0;
      width: calc(100% - 105px);
      height: 0;
      padding: 0 15px 0 90px;
      overflow: hidden;
      flex-direction: column;
      justify-content: flex-start;
      transition:
        padding 0.5s linear,
        height 0.5s cubic-bezier(0.4, 0, 0.6, 1);
    }
  }
  .menu__item {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 35px 15px;
    z-index: 3;
    cursor: pointer;
    @include xxlMax {
      padding: 25px 7px;
    }
    @include xlMax {
      padding: 15px 5px;
    }
    @include xlMax {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 0;
      height: auto;
    }
    .menu__item__link {
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: var(--font-heading);
      color: var(--primary-dark);
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.035em;
      text-decoration: none;
      white-space: nowrap;
      transition: color 0.25s ease;
      @include xxlMax {
        font-size: 14px;
      }
      @include xlMax {
        width: 100%;
        gap: 20px;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.03em;
      }
    }
    ul {
      @include xlMin {
        position: absolute;
        display: block;
        top: 100%;
        left: 15px;
        right: 15px;
        padding: 5px 0;
        width: fit-content;
        background-color: var(--primary-light);
        opacity: 0;
        z-index: 1;
        visibility: hidden;
        transform: translateY(-5%);
        transition:
          opacity 0.25s ease,
          visibility 0.25s ease,
          transform 0.4s ease;
        li {
          padding: 10px 15px;
          a {
            font-size: 16px;
            letter-spacing: 0.035em;
          }
        }
      }
      display: none;
      width: 100%;
      padding: 10px 0 0 10px;
      // overflow: hidden;
      // height: 0;
      // width: 100%;
      // transition:
      //   padding 0.25s linear,
      //   height 0.25s linear;
      li {
        &:not(:first-child) {
          padding-top: 6px;
        }
        a {
          display: block;
          width: 100%;
          font-family: var(--font-heading);
          color: var(--primary-dark);
          width: 100%;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: -0.03em;
          white-space: nowrap;
          text-decoration: none;
          transition: color 0.25s ease;
        }
        &:hover {
          a {
            color: var(--primary-accent);
          }
        }
      }
    }
    svg {
      transition:
        fill 0.25s ease,
        transform 0.25s ease;
      fill: var(--primary-dark);
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    &:hover {
      .menu__item__link {
        color: var(--primary-accent);
      }
      svg {
        transform: rotateX(180deg);
        fill: var(--primary-accent);
      }
      ul {
        @include xlMin {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
        display: block;
        // height: 100%;
        // padding-top: 10px;
      }
    }
  }
  .logo {
    height: 50px;
    transition:
      opacity 0.25s linear,
      visibility 0.25s linear;
    @include xxlMax {
      height: 40px;
    }
    @include smMax {
      height: 31px;
    }
    img {
      height: 100%;
    }
  }
}
