.listings-section {
  .pagination {
    width: fit-content;
    margin: 0 auto;
    padding-top: 60px;
    @include smMax {
      padding-top: 40px;
    }
  }
}
.listings-section__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}
.listings-section__nav__tabs {
  display: flex;
  align-items: center;
  gap: 30px;
  @include smMax {
    gap: 10px;
  }
  a {
    @include link-style;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: 3px underline transparent;
    color: #7c7c7c;
    transition:
      color 0.25s ease,
      text-decoration 0.25s ease;
    &:visited {
      color: #7c7c7c;
    }
    &:hover,
    &.active {
      color: var(--primary-accent);
      text-decoration-color: var(--primary-accent);
    }

    @include smMax {
      font-size: 18px;
    }
  }
}
.listings-section__nav__filters {
  display: flex;
  align-items: center;
  gap: 15px;
  // margin-left: auto;
  overflow-x: auto;
  padding-bottom: 10px;
  @include smMax {
    gap: 8px;
    width: 100%;
  }
  span {
    color: var(--primary-dark);
    font-family: var(--font-primary);
    font-size: 24px;
    font-weight: 400;
    @include smMax {
      font-size: 14px;
    }
  }
  select {
    position: relative;
    color: var(--primary-dark);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    height: 45px;
    width: 220px;
    padding: 0 40px 0 15px;
    border-radius: 4px;
    border: 1px solid #f4f4f4;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06);
    outline-color: var(--primary-accent);
    appearance: none;
    background: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDEzLjc1QzkuODQwMiAxMy43NSA5LjY4MDIgMTMuNjg4OSA5LjU1ODE2IDEzLjU2NjlMMy4zMDgxNiA3LjMxNjkxQzMuMDYzOTUgNy4wNzI3IDMuMDYzOTUgNi42NzcyMyAzLjMwODE2IDYuNDMzMTZDMy41NTIzOCA2LjE4OTEgMy45NDc4NSA2LjE4ODk1IDQuMTkxOTEgNi40MzMxNkwxMCAxMi4yNDEzTDE1LjgwODIgNi40MzMxNkMxNi4wNTI0IDYuMTg4OTUgMTYuNDQ3OSA2LjE4ODk1IDE2LjY5MTkgNi40MzMxNkMxNi45MzYgNi42NzczOCAxNi45MzYxIDcuMDcyODUgMTYuNjkxOSA3LjMxNjkxTDEwLjQ0MTkgMTMuNTY2OUMxMC4zMTk5IDEzLjY4ODkgMTAuMTU5OSAxMy43NSAxMCAxMy43NVoiLz4KPC9zdmc+Cg==);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-x: calc(100% - 15px);
    background-position-y: 50%;
    &::-ms-expand {
      display: none;
    }
    @include smMax {
      width: 148px;
      font-size: 14px;
      background-size: 18px 18px;
    }
  }
}
.listings-section__list {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  @include smMax {
    gap: 20px;
    padding-top: 20px;
  }
}
.listings-section__card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
  @include mdMax {
    width: 100%;
  }
  &:after {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 38px;
    padding: 0 10px;
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 700;
    background: gray;
    border-radius: 34px;
    text-transform: uppercase;
    cursor: default;
    @include smMax {
      top: 10px;
      right: 10px;
      padding: 0 5px;
      height: 22px;
      font-size: 10px;
    }
  }
  &:hover {
    .listings-section__card__content {
      box-shadow: 0px 4px 20px 0px rgba(82, 81, 81, 0.15);
    }
  }
  &.active {
    &:after {
      content: "active";
      display: flex;
      color: var(--label-primary-text);
      background-color: var(--label-primary-background);
    }
  }
  &.sold {
    &:after {
      content: "sold";
      display: flex;
      color: var(--label-secondary-text);
      background-color: var(--label-secondary-background);
    }
  }
  &.pending {
    &:after {
      content: "pending";
      display: flex;
      color: var(--label-tertiary-text);
      background-color: var(--label-tertiary-background);
    }
  }
}
.listings-section__card__image {
  width: 100%;
  height: 400px;
  min-height: 400px;
  background-color: var(--gray-300);
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  @include xlMax {
    height: 300px;
    min-height: 300px;
  }
  @include lgMax {
    height: 220px;
    min-height: 220px;
  }
}

.listings-section__card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  border-radius: 0 2px 2px 0px;
  background: var(--primary-light);
  transition: box-shadow 0.25s ease;
  box-shadow: 0px 4px 20px 0px rgba(82, 81, 81, 0.08);
  h3 {
    @include title("secondary", var(--primary-dark), 400);
    font-family: var(--font-primary);
    width: 100%;
    margin-bottom: 30px;
    @include smMax {
      margin-bottom: 10px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: auto;
    @include smMax {
      gap: 5px;
    }
    li {
      color: var(--gray-700);
      font-family: var(--font-primary);
      font-size: 16px;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      @include smMax {
        font-size: 12px;
      }
    }
    span {
      width: 90px;
      @include smMax {
        width: 80px;
      }
    }
    strong {
      color: var(--primary-dark);
      font-weight: 600;
      span {
        font-size: 12px;
      }
    }
  }
  &__action {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include smMax {
      width: 100%;
    }
    h6 {
      color: var(--gray-700);
      font-family: var(--font-primary);
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 15px;
      @include lgMax {
        text-align: right;
      }
      @include smMax {
        margin-bottom: 20px;
        font-size: 12px;
      }
    }
  }
  @include smMax {
    padding: 10px 10px 15px 10px;
  }
}
.listings-section__card__content__wrap {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
  height: 100%;
  @include smMax {
    row-gap: 0;
  }
}
