.default-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px 0;
}

.default-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  padding: 30px;
  border-radius: 10px;
  background: var(--gray-100);
}

.default-title {
  font-family: var(--font-heading);
  font-size: 60px;
  margin-bottom: 30px;
}
