@import "abstracts/normalize";
@import "abstracts/vars";
@import "abstracts/mix-media";

@import "base/common";
@import "base/fonts";
@import "base/typography";

// Elements
@import "elements/button";
@import "elements/input";
@import "elements/label";
@import "elements/link";
@import "elements/pagination";
@import "elements/radio";
@import "elements/spinner";
// Components
@import "components/footer";
@import "components/header";
@import "components/primary-section";
@import "components/recent";
// Pages
@import "pages/default";
@import "pages/home";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: var(--font-heading);
}
