@import "abstracts/normalize";
@import "abstracts/vars";
@import "abstracts/mix-media";

@import "swiper/scss";
@import "swiper/scss/pagination";

@import "base/common";
@import "base/fonts";
@import "base/typography";

// Elements
@import "elements/button";
@import "elements/input";
@import "elements/link";
@import "elements/pagination";
@import "elements/radio";
@import "elements/spinner";
@import "elements/quote";
// Components
@import "components/footer";
@import "components/header";
@import "components/hero-section";
@import "components/statistic-block";
@import "components/primary-section";
@import "components/listings-section";
@import "components/subscribe-section";
@import "components/categories-section";
@import "components/blog-category";
@import "components/photo-contact-section";
@import "components/team-section";
@import "components/form-section";
@import "components/form";
@import "components/breadcrumbs";
@import "components/recent";
// Pages
@import "pages/default";
@import "pages/home";
@import "pages/contact";
@import "pages/article";
@import "pages/page-404";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: var(--font-heading);
}
