@mixin link-wrap-style {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
  @include smMax {
    gap: 5px;
  }
  a {
    @include link-style;
    font-size: 14px;
  }
  svg {
    width: 18px;
    height: 18px;
    fill: var(--primary-light);
  }
  span {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-light);
    text-transform: uppercase;
  }
  @include mdMax {
    a,
    span {
      font-size: 12px;
    }
    svg {
      width: 15px;
      height: 15px;
    }
  }
}
@mixin link-style {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.035em;
  color: var(--primary-accent);
  text-decoration: 2px underline rgba(#49a942, 0.5);
  text-underline-offset: 4px;
  transition:
    color 0.25s ease,
    opacity 0.25s ease;
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }
  svg {
    display: block;
    width: 20px;
    height: 20px;
    min-width: 20px;
    fill: var(--primary-accent);
    transition: fill 0.25s ease;
  }
  &:hover {
    color: var(--secondary-accent);
    svg {
      fill: var(--secondary-accent);
    }
  }
  @include smMax {
    letter-spacing: 0;
    font-size: 16px;
    gap: 5px;
    svg {
      width: 18px;
      height: 18px;
    }
  }
}
