.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.035em;
  color: var(--primary-accent);
  text-decoration: 2px underline;
  text-underline-offset: 4px;
  transition:
    color 0.25s ease,
    opacity 0.25s ease;
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }
  &.link__arrow {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    svg {
      display: block;
      width: 20px;
      height: 20px;
      min-width: 20px;
      fill: var(--primary-accent);
      transition: fill 0.25s ease;
    }
  }
  &:hover {
    color: var(--secondary-accent);
    &.link__arrow {
      svg {
        fill: var(--secondary-accent);
      }
    }
  }
}
