main,
section {
  padding: 30px 0;
  @include lgMax {
    padding: 25px 0;
  }
  @include mdMax {
    padding: 20px 0;
  }
  @include smMax {
    padding: 15px 0;
    &:first-child {
      padding-top: 0;
    }
  }
}
.wrapper {
  padding-top: var(--navHeight);
  flex: 1 1 auto;
}

.container,
.container-md {
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
}

.container {
  max-width: 1488px;
}

.text-center {
  text-align: center;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  &.image-cover {
    object-fit: cover;
  }
}

// @import './common/spacing';
// @import './common/font-weight';
// @import './common/text-transform';
