* {
  box-sizing: border-box;
}
main,
section {
  padding: 30px 0;
  @include lgMax {
    padding: 25px 0;
  }
  @include mdMax {
    padding: 20px 0;
  }
  @include smMax {
    padding: 15px 0;
    &:first-of-type {
      padding-top: 0;
    }
  }
}
.wrapper {
  position: relative;
  padding-top: var(--navHeight);
  flex: 1 1 auto;
  z-index: 0;
}

.container {
  max-width: 1488px;
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
  @include smMax {
    padding: 0 15px;
  }
  &.blank {
    min-height: 500px;
    background: content-box #80808042;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: var(--font-heading);
  }
  &_zero {
    max-width: 1428px;
    padding: 0;
  }
  &_sm {
    @include smMax {
      padding: 0;
    }
  }
}

.text-center {
  text-align: center;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  &.image-cover {
    object-fit: cover;
  }
}

// @import './common/spacing';
// @import './common/font-weight';
// @import './common/text-transform';
