@mixin title(
  $size,
  $color: var(--primary-light),
  $weight: 700,
  $style: normal
) {
  font-family: var(--font-heading);
  font-weight: $weight;
  font-style: $style;
  color: $color;

  @if $size == "primary" {
    font-size: 48px;
  } @else if $size == "secondary" {
    font-size: 34px;
  } @else if $size == "tertiary" {
    font-size: 28px;
  } @else if $size == "quaternary" {
    font-size: 24px;
  } @else if $size == "fivefold" {
    font-size: 20px;
  } @else if $size == "sixfold" {
    font-size: 16px;
  } @else {
    @error "Unknown size #{$size}.";
  }
  @include mdMax {
    @if $size == "primary" {
      font-size: 34px;
    } @else if $size == "secondary" {
      font-size: 24px;
    } @else if $size == "tertiary" {
      font-size: 22px;
    } @else if $size == "quaternary" {
      font-size: 20px;
    } @else if $size == "fivefold" {
      font-size: 18px;
    } @else if $size == "sixfold" {
      font-size: 16px;
    } @else {
      @error "Unknown size #{$size}.";
    }
  }
  @include smMax {
    @if $size == "primary" {
      font-size: 24px;
    } @else if $size == "secondary" {
      font-size: 20px;
    } @else if $size == "tertiary" {
      font-size: 18px;
    } @else if $size == "quaternary" {
      font-size: 16px;
    } @else if $size == "fivefold" {
      font-size: 14px;
    } @else if $size == "sixfold" {
      font-size: 12px;
    } @else {
      @error "Unknown size #{$size}.";
    }
  }
}

@mixin text($size, $color: var(--gray-700), $weight: 400, $style: normal) {
  font-family: var(--font-primary);
  font-weight: $weight;
  font-style: $style;
  color: $color;

  strong {
    font-weight: 700;
  }

  @if $size == "primary" {
    font-size: 12px;
  } @else if $size == "secondary" {
    font-size: 14px;
  } @else if $size == "tertiary" {
    font-size: 18px;
  } @else if $size == "quaternary" {
    font-size: 20px;
  } @else if $size == "fivefold" {
    font-size: 34px;
  } @else {
    @error "Unknown size #{$size}.";
  }

  @include smMax {
    @if $size == "primary" {
      // font-size: 12px;
    } @else if $size == "secondary" {
      // font-size: 14px;
    } @else if $size == "tertiary" {
      font-size: 14px;
    } @else if $size == "quaternary" {
      font-size: 16px;
    } @else if $size == "fivefold" {
      // font-size: 34px;
    } @else {
      @error "Unknown size #{$size}.";
    }
  }
}

@mixin list-style($color: var(--primary-light)) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 15px;
  li {
    @include text("tertiary");
    color: $color;
    &::marker {
      margin-right: 10px;
      font-size: inherit;
    }
  }
  list-style-type: square;
  // list-style-position: inside;
}

.subtitle {
  color: var();
  &.subtitle-center {
    text-align: center;
  }
  //   &.subtitle-primary {
  //   }
  //   @include mdMax {
  //   }
}
